################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PandaHotelSystem/v15/Server/sqlite3
/HotelFrontOffice/HotelFrontOffice/app_data
